.card-out
{
  border: solid 2px grey;
  border-radius: 10px;
  background-image: linear-gradient(
    rgba(220, 220, 220, 0.4),
    rgba(220, 220, 220, 0.6),
    rgba(220, 220, 220, 0.8),
    white
  );
  box-shadow: 2px 2px 10px black;
  width: 200px;
  padding: 10px;
  transition: ease 0.5s;
}
.card-out:hover
{
  background-image: linear-gradient(
    rgba(220, 220, 220, 0.5),
    rgba(220, 220, 220, 0.7),
    rgba(220, 220, 220, 0.9),
    white
  );
  transition: ease 0.5s;
}
