.card-out
{
  border: none;
  border-radius: 15px;
  width: 200px;
  padding: 15px;
  transition: ease 0.2s;
}
.card-out:hover
{
  box-shadow: 0 0 5px 0px white;
  transition: ease 0.2s;
}
.Low
{
  background-image: linear-gradient(
    rgb(5, 155, 0),
    rgba(5, 155, 0, 0.6)
  );
}
.Normal
{
  background-image: linear-gradient(
    white,
    rgba(220, 220, 220, 0.6)
  );
}
.High
{
  background-image: linear-gradient(
    rgb(207, 152, 0),
    rgba(207, 152, 0, 0.6)
  );
}
.edit
{
  width: 100%;
}