.card-out
{
  border: solid 2px grey;
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  width: 200px;
  padding: 10px;
  transition: ease 0.5s;
}
.card-out:hover
{
  opacity: 1;
  transition: ease 0.5s;
}
.Low
{
  background-image: linear-gradient(
    rgba(5, 155, 0, 0.4),
    rgba(5, 155, 0, 0.6),
    rgba(5, 155, 0, 0.8),
    rgb(5, 155, 0)
  );
  opacity: 0.9;
}
.Normal
{
  background-image: linear-gradient(
    rgba(220, 220, 220, 0.4),
    rgba(220, 220, 220, 0.6),
    rgba(220, 220, 220, 0.8),
    white
  );
  opacity: 0.9;
}
.High
{
  background-image: linear-gradient(
    rgba(207, 152, 0, 0.4),
    rgba(207, 152, 0, 0.6),
    rgba(207, 152, 0, 0.8),
    rgb(207, 152, 0)
  );
  opacity: 0.9;
}