input
{
  border-radius: 10px;
  font-size: 1.2rem;
  height: 2rem;
  padding: 7px;
}
form
{
  display: grid;
  gap: 10px;
}
form select
{
  width: 250px;
}
.addTask
{
  text-align: center;
}
#addTask
{
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  opacity: 0.9;
}
#addTask:hover
{
  opacity: 1;
}
#addTask:disabled
{
  cursor: not-allowed;
}
.addPriority, .addStatus
{
  display: flex;
  flex-direction: row;
  gap: 20px;
}