@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

header div
{
  text-align: center;
  width: 50%;
}
header button
{
  background-color: white;
  border-radius: 5px 15px 5px 15px;
  box-shadow: 2px 2px 7px 2px rgb(63, 63, 63);
  color: inherit;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  font-size: 1.3rem;
  height: 3rem;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: ease 0.5s;
  width: 8rem;
  max-width: 240px;
}
header button:hover
{
  box-shadow: 3px 1px 25px 2px #333;
  font-size: 1.4rem;
  opacity: 1;
  transform: translateY(2px);
  transition: ease 0.5s;
  width: 9rem;
}
header button:active
{
  background-color: black;
  color: white;
}
footer button
{
  cursor: pointer;
  height: 3.5rem;
  width: 50%;
  opacity: 0.8;
  transition: ease 0.5s;
}
footer button:hover
{
  opacity: 1;
  transition: ease 0.5s;
}
footer img
{
  height: 2rem;
}