.appBackground
{
  background-image: url('./components/shared/img/bg.jpg');
  background-size: cover;
}
.container
{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 10px;
  min-height: 50vh;
  width: 100%;
}
.out
{
-moz-box-shadow:    inset 0px 0px 2px 2px rgba(144, 144, 144, 0.5);
-webkit-box-shadow: inset 0px 0px 2px 2px rgba(144, 144, 144, 0.5);
box-shadow:         inset 0px 0px 2px 2px rgba(144, 144, 144, 0.5);
}