*
{
  border: none;
  color: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body
{
  background-image: url('./components/shared/img/bg.png');
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header
{
  position: fixed;
  top: 0px;
  background-image:linear-gradient(
    rgb(220, 220, 220),
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;
  width: 100%;
}
footer
{
  position: fixed;
  bottom: 0px;
  height: 3.5rem;
  width: 100%;
}