*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(104, 94, 94);
  text-decoration: none;
}
body
{
  background-image: url('./components/shared/img/bg.png');
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header, footer
{
  background-image:linear-gradient(
    transparent,
    rgb(220, 220, 220)
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3.5rem;
  width: 100%;
}
footer
{
  position: fixed;
  bottom: 0px;
}